<div class="modal-header">
  <h4 class="modal-title" id="modal-title">Discover New Lessons</h4>
  <button
    type="button"
    class="btn-close"
    aria-describedby="modal-title"
    (click)="modal.dismiss('Cross click')"
  ></button>
</div>
<div class="modal-body" >
  <div class="form-group mb-2">
    <input type="text" class="form-control" id="searchInput" [(ngModel)]="searchTerm" (input)="handleSearchInput()" placeholder="Enter search term">
  </div>
  <div class="overflow-y-auto">
    <ul class="list-group-item">
      <li *ngFor="let learningPackage of filteredLearningPackage" class="list-group-item mb-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ learningPackage.title }}</h5>
            <p class="card-text">{{ learningPackage.description }}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="mb-2">
                <span class="badge bg-primary">{{ learningPackage.category }}</span>
                <span class="badge bg-secondary mx-2">{{ learningPackage.targetAudience }}</span>
                <span class="badge bg-info">{{ learningPackage.duration }} minutes</span>
              </div>
              <button class="btn btn-success" (click)="startUserPackage(learningPackage.packageId)">Start Now</button>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-dark" (click)="modal.dismiss('close click')">Close</button>
</div>
