<div class="modal-header">
  <h4 class="modal-title" id="modal-title">Lesson Message</h4>
  <button
    type="button"
    class="btn-close"
    aria-describedby="modal-title"
    (click)="modal.dismiss('Cross click')"
  ></button>
</div>
<div class="modal-body">
  <p>
    <strong>You will  the following lesson : <span class="text-muted"><br></span></strong>
  </p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
  <button type="button" class="btn btn-warning text-white"></button>
  <button type="button" class="btn btn-danger"></button>
</div>
