<div class="container">
  <header class="jumbotron my-4">
    <h1 class="display-3">About AnkiCloneApp</h1>
    <p class="lead">Supercharge your learning with AnkiCloneApp - the intelligent flashcard app.</p>
  </header>
  <div class="row">
    <div class="col-lg-6">
      <h2>Our Mission</h2>
      <p style="text-align: justify;">
        Anki is committed to revolutionizing the way you learn and retain information. We believe in the power of
        spaced repetition to make learning more efficient and enjoyable for everyone.
      </p>
    </div>
    <div class="col-lg-6">
      <h2>Why Anki?</h2>
      <p style="text-align: justify;">
        Whether you're a student, professional, or lifelong learner, Anki adapts to your needs. Create custom
        flashcards, track your progress, and watch your knowledge grow over time.
      </p>
    </div>
  </div>
  <h2>Meet the Team</h2>
  <div class="row">
    <div class="col-lg-3 mb-4">
      <div class="card h-100 text-center align-items-center">
        <img class="card-img-top rounded-circle mt-2" src="https://media.licdn.com/dms/image/D4E03AQGzfCboK9nwNw/profile-displayphoto-shrink_400_400/0/1686046763069?e=1709164800&v=beta&t=l-V9CZ6UKNqKiRYk12Asux9H5MseFmeQla4mJ3WN8tA" alt="Gustave's Profile Picture" style="max-width: 150px; max-height: 150px;">
        <div class="card-body">
          <h4 class="card-title">Gustave Legrand</h4>
          <p class="card-text">A4 CCC ESILV Student</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 mb-4">
      <div class="card h-100 text-center align-items-center">
        <img class="card-img-top rounded-circle mt-2" src="https://media.licdn.com/dms/image/D4E35AQH4omXjs1nq4A/profile-framedphoto-shrink_400_400/0/1699305157568?e=1704542400&v=beta&t=EJizCKDhwOM_6txEmqATLO-zlybSEgBjKbz7I14swP0" alt="Mathis's Profile Picture" style="max-width: 150px; max-height: 150px;">
        <div class="card-body">
          <h4 class="card-title">Mathis Estève</h4>
          <p class="card-text">A4 CCC ESILV Student</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 mb-4">
      <div class="card h-100 text-center align-items-center">
        <img class="card-img-top rounded-circle mt-2" src="https://media.licdn.com/dms/image/C4D03AQHbB8KCug1svw/profile-displayphoto-shrink_400_400/0/1648553381698?e=1709164800&v=beta&t=B_kGztjBcvmz7uTPqTLrHPjNp0pSElGxVkTHaWuEGko" alt="Lucile's Profile Picture" style="max-width: 150px; max-height: 150px;">
        <div class="card-body">
          <h4 class="card-title">Lucile Dresler</h4>
          <p class="card-text">A4 CCC ESILV Student</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 mb-4">
      <div class="card h-100 text-center align-items-center">
        <img class="card-img-top rounded-circle mt-2" src="https://media.licdn.com/dms/image/D4E35AQHxZe9Li7dTgw/profile-framedphoto-shrink_400_400/0/1654858819128?e=1704542400&v=beta&t=ZYQoOw_jrin_eJh3Jep5RNnB9FI9w0L93MmY2GJiygk" alt="Yahya's Profile Picture" style="max-width: 150px; max-height: 150px;">
        <div class="card-body">
          <h4 class="card-title">Yahya Bouayad</h4>
          <p class="card-text">A4 DIA ESILV Student</p>
        </div>
      </div>
    </div>
  </div>
</div>
