<!-- Page Content -->
<div class="container">
  <!-- Jumbotron Header -->
  <header class="jumbotron my-4">
    <h1 class="display-3">About AnkiCloneApp</h1>
    <p class="lead">Supercharge your learning with AnkiCloneApp - the intelligent flashcard app.</p>
  </header>

  <!-- About Section -->
  <div class="row">
    <div class="col-lg-6">
      <h2>Our Mission</h2>
      <p style="text-align: justify;">
        Anki is committed to revolutionizing the way you learn and retain information. We believe in the power of
        spaced repetition to make learning more efficient and enjoyable for everyone.
      </p>
    </div>
    <div class="col-lg-6">
      <h2>Why Anki?</h2>
      <p style="text-align: justify;">
        Whether you're a student, professional, or lifelong learner, Anki adapts to your needs. Create custom
        flashcards, track your progress, and watch your knowledge grow over time.
      </p>
    </div>
  </div>

  <!-- Team Members Section -->
  <h2>Meet the Team</h2>
  <div class="row">
    <div class="col-lg-3 mb-4">
      <div class="card h-100 text-center align-items-center">
        <img class="card-img-top" src="assets/images/default_user_image.png" alt="" style="max-width: 150px; max-height: 150px;">
        <div class="card-body">
          <h4 class="card-title">Gustave Legrand</h4>
          <p class="card-text">A4 CCC ESILV Student</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 mb-4">
      <div class="card h-100 text-center align-items-center">
        <img class="card-img-top" src="assets/images/default_user_image.png" alt="" style="max-width: 150px; max-height: 150px;">
        <div class="card-body">
          <h4 class="card-title">Mathis Estève</h4>
          <p class="card-text">A4 CCC ESILV Student</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 mb-4">
      <div class="card h-100 text-center align-items-center">
        <img class="card-img-top" src="assets/images/default_user_image.png" alt="" style="max-width: 150px; max-height: 150px;">
        <div class="card-body">
          <h4 class="card-title">Lucile Dresler</h4>
          <p class="card-text">A4 CCC ESILV Student</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 mb-4">
      <div class="card h-100 text-center align-items-center">
        <img class="card-img-top" src="assets/images/default_user_image.png" alt="" style="max-width: 150px; max-height: 150px;">
        <div class="card-body">
          <h4 class="card-title">Yahya Bouayad</h4>
          <p class="card-text">A4 CCC ESILV Student</p>
        </div>
      </div>
    </div>
  </div>
</div>
