<div class="container mt-4">
  <form [formGroup]="searchForm">
    <div class="row">
      <div class="col-md-3 mb-2">
        <div class="form-group rounded">
          <label for="title">Title</label>
          <input type="text" class="form-control" id="title" name="title">
        </div>
      </div>
      <div class="col-md-3 mb-2">
        <div class="form-group rounded">
          <label for="description">Description</label>
          <input type="text" class="form-control" id="description" name="description">
        </div>
      </div>
      <div class="col-md-3 mb-2">
        <div class="form-group rounded">
          <label for="category">Category</label>
          <input type="text" class="form-control" id="category" name="category">
        </div>
      </div>
    </div>


    <button type="button" class="btn btn-primary" (click)="getSearchPackage()">Search</button>
  </form>


<div *ngFor="let p of lp" class="row app_border">
  <div class="row row1">
    <div class="col-2 col1">{{p.title}}</div>
    <div class="col-2 align-content-center">New cards</div>
    <div class="col-2 ">Current</div>
    <div class="col-2 ">Todo</div>
  </div>
  <div class="row row1">
    <button routerLink="/study-now" class="col-2 button1">study now</button>
  </div>
</div>

</div>

