<div class="container mt-4">
  <form [formGroup]="searchForm">
    <div class="row">
      <div class="col-md-3 mb-2">
        <div class="form-group rounded">
          <label for="title" [class]="searchForm.get('title')?.invalid ? 'text-danger' : ''">Title</label>
          <input type="text" class="form-control" id="title" name="title" formControlName="title">
        </div>
      </div>
      <div class="col-md-3 mb-2">
        <!--<div class="form-group rounded">
          <label for="tag" [class]="searchForm.get('tag')?.invalid ? 'text-danger' : ''">Tag</label>
          <select class="form-control" id="tag" size="8" formControlName="tag">
            <option *ngFor="let tag of tagsTab" [value]="tag.englishKeyword">{{ tag.englishKeyword }}</option>
          </select>
        </div>-->
        <div class="form-group rounded">
          <label for="tag" [class]="searchForm.get('tag')?.invalid ? 'text-danger' : ''">Tag</label>
          <select class="form-control" id="tag" formControlName="tag">
            <option value="" disabled selected>Select a tag</option>
            <option *ngFor="let tag of tagsTab" [value]="tag.englishKeyword">{{ tag.englishKeyword }}</option>
          </select>
        </div>

      </div>
      <div>
        <button type="button" class="btn btn-primary bg-dark border border-dark" (click)="getSearchPackage()" [disabled]="!searchForm.valid">Search</button>
      </div>
    </div>


  </form>


<div *ngFor="let p of lp" class="row app_border">
  <div class="row row1">
    <div class="col-2 col1">{{p.title}}</div>
    <div class="col-2 align-content-center">New cards</div>
    <div class="col-2 ">Current</div>
    <div class="col-2 ">Todo</div>
  </div>
  <div class="row row1">
    <button routerLink="/study-now" class="col-2 button1">study now</button>
  </div>
</div>

</div>

