<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                    Change Password
                </div>
                <div class="card-body">

                    <form [formGroup]="form">
                        <input type="text" style="display: none" aria-hidden="true" autocomplete="username"/>
                        <div class="mb-3">
                            <label for="currentPassword" class="form-label">Current Password</label>
                            <input type="password" class="form-control" id="currentPassword" formControlName="currentPassword" placeholder="Enter your username" autocomplete="current-password"/>
                        </div>
                        <div class="mb-3">
                            <label for="newPassword" class="form-label">New Password</label>
                            <input type="password" class="form-control" id="newPassword" formControlName="newPassword" placeholder="Enter your password" autocomplete="current-password"/>
                        </div>
                        <div class="mb-3">
                            <label for="confirmPassword" class="form-label">Confirm New Password</label>
                            <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword" placeholder="Enter your password" autocomplete="current-password"/>
                        </div>
                        <div class="mb-3 text-center">
                            <div class="text-danger">{{ errorMessage }}</div>
                        </div>
                        <div class="mb-3 text-center">
                            <button type="button" class="btn btn-primary bg-dark border border-dark" (click)="changePassword()" [disabled]="!form.valid">Change Password</button>
                        </div>
                        <div class="mb-3 text-center">
                            <div class="text-success">{{ successMessage }}</div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
