.form-control{
  box-shadow: none;
  border-color: black;
}
.btn-primary.bg-dark.border.border-dark {
  font-size: 1.5rem; /* Increase the font size */
  padding: 12px 24px; /* Adjust padding for a larger button */
}
