<div class="container mt-4">
  <div class="text-center">
    <button class="btn btn-primary bg-dark border border-dark my-2" (click)="startLesson()">Discover News Lesson</button>
    <h1 class="my-4">My Lessons</h1>
    <input type="text" class="form-control mb-2" id="searchInput" [(ngModel)]="searchTerm" (input)="handleSearchInput()" placeholder="Enter search term">
  </div>
  <ul class="list-group-item">
    <li *ngFor="let package of filteredLearningPackage" class="list-group-item mb-3">
      <div class="card">


        <div class="card-body">
          <h5 class="card-title">{{ package.title }}</h5>
          <p class="card-text">{{ package.description }}</p>
          <!-- Button and progress in the same row -->
          <div class="d-flex justify-content-between">
            <!-- Buttons at the beginning -->
            <div class="d-flex">
              <button class="btn btn-primary bg-dark border border-dark" (click)="startPackage(package.packageId, package.title)">Study Now</button>
              <button class="btn btn-warning text-white mx-2" (click)="resetProgress(package.packageId, package.title)">Reset Progress</button>
              <button class="btn btn-danger" (click)="deletePackage(package.packageId, package.title)">Stop Lesson</button>
            </div>

            <!-- Progress percentage at the end -->
            <small class="text-muted">Progress: {{ package.progress }}%</small>
          </div>
        </div>

        <!-- Progress bar added here -->
        <div class="progress rounded-top-0" style="height: 20px;">
          <div class="progress-bar bg-dark progress-bar-striped progress-bar-animated " role="progressbar" [style.width.%]="package.progress" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </li>
  </ul>
</div>
