<div class="container mt-4">
  <div class="text-center">
    <button class="btn btn-dark my-2 discover-button" (click)="startLesson()">Discover News Lesson</button>
    <h1 class="my-4">My Lessons</h1>
    <input type="text" class="form-control mb-2" id="searchInput" [(ngModel)]="searchTerm" (input)="applyFilters()" placeholder="Enter search term">
    <div class="d-flex flex-wrap mt-2 justify-content-between">
      <div class="d-flex">
        <span class="badge m-1" [ngClass]="{'bg-secondary': tag.tagId === selectedTagId, 'bg-dark': tag.tagId !== selectedTagId}" *ngFor="let tag of filteredTags" (click)="toggleTag(tag.tagId)">
          {{ tag.englishKeyword }}
        </span>
      </div>
      <span class="badge bg-info m-1" (click)="resetFilters()">Reset Tag</span>
    </div>
  </div>
  <ul class="list-group-item">
    <li *ngFor="let learningPackage of filteredLearningPackage" class="list-group-item mb-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ learningPackage.title }}</h5>
          <span class="card-text">{{ learningPackage.description }}<br></span>
          <p *ngFor="let tag of learningPackage.tags" class="badge bg-secondary mt-2" style="margin-right: 6px">{{ tag.englishKeyword }}</p>
          <div class="d-flex justify-content-between mt-2">
            <div class="d-flex">
              <button class="btn btn-dark" (click)="startPackage(learningPackage.packageId, learningPackage.title)">Study Now</button>
              <button class="btn btn-warning text-white mx-2" (click)="resetProgress(learningPackage.packageId, learningPackage.title)">Reset Progress</button>
              <button class="btn btn-danger" (click)="deletePackage(learningPackage.packageId, learningPackage.title)">Stop Lesson</button>
            </div>
            <small class="text-muted">Progress: {{ learningPackage.progress }}%</small>
          </div>

        </div>
        <div class="progress rounded-top-0" style="height: 20px;">
          <div class="progress-bar bg-dark progress-bar-striped progress-bar-animated " role="progressbar" [style.width.%]="learningPackage.progress" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </li>
  </ul>
</div>
