<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h1 class="text-center mb-4">Login</h1>
          <form [formGroup]="form">
            <div class="mb-3">
              <label for="username" class="form-label">Username or email</label>
              <input type="text" class="form-control" id="username" formControlName="username" placeholder="Enter your username" autocomplete="username"/>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" formControlName="password" placeholder="Enter your password" autocomplete="current-password"/>
            </div>
            <div class="mb-3 text-center">
              <div class="text-danger">{{ errorMessage }}</div>
            </div>
            <div class="mb-3 text-center">
              <button type="button" class="btn btn-primary bg-dark border border-dark" (click)="login()" [disabled]="!form.valid">Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
