<div class="container mt-4">
  <div class="text-center">
    <button class="btn btn-close-white text-black rounded-end-0 border-dark border-2" routerLink="/new-card">New Learning Fact</button>
    <button class="btn btn-dark text-white rounded-start-0 border-2" routerLink="/new-package">New Learning Package</button>
  </div>
  <div class="container mt-3">
    <h1 class="text-center display-6 fst-italic">NEW LEARNING FACT</h1>
  </div>
  <form [formGroup]="factForm">
    <div class="form-group">
      <label for="dropdownMenu" class="mb-1">Choose a learning package<span class="text-danger"> *</span></label>
      <select class="form-control mb-3" id="dropdownMenu" name="dropdownMenu" formControlName="selectedPackage">
        <option *ngFor="let learningPackage of existingLearningPackages" [value]="learningPackage.packageId">{{ learningPackage.title }}</option>
      </select>

      <label for="recto" class="mb-1">Recto (Min. 3 characters)<span class="text-danger"> *</span></label>
      <textarea class="form-control mb-3" id="recto" name="recto" rows="4" formControlName="recto"></textarea>
      <p>
        <label for="image" class="mb-1">Image (URL) (optional)</label><br>
        <input type="url" class="form-control mb-3" id="image" name="url" placeholder="Enter the link to a resource" formControlName="url">
      </p>
      <p>
        <label for="url" class="mb-1">URL (optional)</label>
        <input type="url" class="form-control mb-3" id="url" name="url" placeholder="Enter the link to a resource" formControlName="url">
      </p>
      <label for="source" class="mb-1">Source (URL FORMAT MANDATORY)<span class="text-danger"> *</span></label>
      <input type="url" class="form-control mb-3" id="source" name="source" formControlName="source" placeholder="Indicate the source">

      <label for="verso" class="mb-1">Verso (Min. 3 characters)<span class="text-danger"> *</span></label>
      <textarea class="form-control mb-3" id="verso" name="verso" rows="4" formControlName="verso"></textarea>
    </div>
    <div class="text-center">
      <p *ngIf="factForm.invalid" class="text-danger">Please fill out all required fields.</p>
      <button type="button" class="btn btn-dark" (click)="onCreate()" [disabled]="!factForm.valid">Create New Learning Fact</button>
    </div>
  </form>
</div>
