<div class="container mt-4">
  <div class="text-center">
    <button class="btn btn-dark text-white rounded-end-0 border-2" routerLink="/new-card">New Learning Fact</button>
    <button class="btn btn-close-white text-black rounded-start-0 border-dark border-2" routerLink="/new-package">New Learning Package</button>
  </div>
  <div class="container my-3">
    <h1 class="text-center display-6 fst-italic">NEW LEARNING PACKAGE</h1>
  </div>
  <form [formGroup]="tagForm">
    <div class="form-group">
      <div class="row mb-3 align-items-center">
        <div class="col-md-5">
            <label for="tags" class="mb-1">Tags (hold down the Ctrl button to select multiple options)</label>
            <select class="form-control" id="tags" size="8" multiple formControlName="selectTag">
              <option *ngFor="let tag of tagsTab" [value]="tag">{{ tag.englishKeyword }}</option>
            </select>
        </div>
        <div class="col-md-2 text-center">
          <h2> OR </h2>
        </div>
        <div class="col-md-5">
            <label for="newTag" class="mb-1" >Create a new tag to add to the list</label>
            <input type="text" class="form-control mb-2" id="newTag" name="newTag" formControlName="newTag">
            <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
            <button type="button" class="btn btn-dark" (click)="onCreateTag()" [disabled]="!tagForm.valid" >Add Tag</button>
        </div>
      </div>
    </div>
  </form>

  <form [formGroup]="lessonForm">
    <div class="form-group">
      <div class="row mb-1">
        <div class="col-md-12 mb-1">
          <label for="title" class="mb-1">Title</label>
          <input type="text" class="form-control" id="title" name="title" formControlName="title">
        </div>
        <div class="col-md-12">
          <label for="description" class="mb-1">Description</label>
          <input type="text" class="form-control" id="description" name="description" formControlName="description">
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-4">
            <label for="targetAudience" class="mb-1">Target Audience</label>
            <input type="text" class="form-control" id="targetAudience" name="targetAudience" formControlName="targetAudience">
        </div>
        <div class="col-md-4">
            <label for="category" class="mb-1">Category</label>
            <input type="text" class="form-control" id="category" name="category" formControlName="category">
        </div>
        <div class="col-md-4">
            <label for="numericFieldMin" class="mb-1">Duration (Min)</label>
            <input type="number" class="form-control" id="numericFieldMin" name="numericFieldMin" formControlName="duration">
        </div>
      </div>
    </div>
    <div class="text-center">
      <p *ngIf="lessonForm.invalid" class="text-danger"> Please fill out all required fields.</p>
      <button type="button" class="btn btn-dark" (click)="onCreatePackage()" [disabled]="!lessonForm.valid" >Create New Learning Package</button>
    </div>
  </form>
</div>
