<div class="container mt-5">
  <h1 class="text-center mb-4">Choose Your Plan</h1>
  <div class="row">
    <div class="col-md-4 text-center">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Basic</h2>
          <div class="card-text">
            <h5 class="price fst-italic">$9.99/month</h5>
            <ul class="list-styled text-start mb-3">
              <li>10 GB Storage</li>
              <li>Basic Support</li>
              <li>Limited Access</li>
              <li>Flashcard Creation</li>
              <li>Basic Deck Management</li>
            </ul>
          </div>
          <a class="btn btn-primary btn-block bg-dark border border-dark">Choose Plan</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Standard</h2>
          <div class="card-text">
            <h5 class="price fst-italic">$19.99/month</h5>
            <ul class="list-styled text-start mb-3">
              <li>25 GB Storage</li>
              <li>Premium Support</li>
              <li>Full Access</li>
              <li>Advanced Deck Management</li>
              <li>Progress Tracking</li>
            </ul>
          </div>
          <a class="btn btn-primary btn-block bg-dark border border-dark">Choose Plan</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Premium</h2>
          <div class="card-text">
            <h5 class="price fst-italic">$29.99/month</h5>
            <ul class="list-styled text-start mb-3">
              <li>50 GB Storage</li>
              <li>Premium Support</li>
              <li>Full Access + Extras</li>
              <li>Advanced Analytics</li>
              <li>Premium Content Library</li>
            </ul>
          </div>
          <a class="btn btn-primary btn-block bg-dark border border-dark">Choose Plan</a>
        </div>
      </div>
    </div>
  </div>
</div>
