<!-- src/app/glossary/glossary.component.html -->

<div class="container mt-4">
  <h2 class="mb-4">Glossary</h2>

  <!-- Alphabetical Navigation Bar -->
  <div class="d-flex justify-content-center mb-4">
    <ng-container *ngFor="let letter of alphabet">
      <a (click)="selectLetter(letter)" [class.active]="selectedLetter === letter" [class.text-muted]="selectedLetter === letter" [class.text-dark]="selectedLetter !== letter" class="btn btn-link">
        {{ letter }}
      </a>
    </ng-container>
    <a (click)="clearSelection()" [class.active]="!selectedLetter" [class.text-muted]="!selectedLetter" [class.text-dark]="selectedLetter === null" [style.color]="selectedLetter === null ? 'black' : 'inherit'" class="btn btn-link">
    All
    </a>
  </div>

  <div *ngIf="selectedLetter" class="mb-4">
    <h3 class="text-dark">{{ selectedLetter }}</h3>
  </div>

  <!-- Glossary Terms -->
  <div *ngFor="let term of glossaryTerms; let last = last" class="glossary-term mb-4">

    <!-- Only show terms that match the selected letter -->
    <ng-container *ngIf="!selectedLetter || term.term.startsWith(selectedLetter)">
      <dt>{{ term.term }}</dt>
      <dd>{{ term.definition }}</dd>
    </ng-container>

  </div>
</div>
