.form-text{
  box-shadow: none;
}
.form-check-input:checked {
  background-color: black;
  border-color: black;
  color: white;
}
.form-check-input:focus {
  box-shadow: none;
  border-color: black;
}
