<div class="container mt-3">
  <div class="carousel slide" data-bs-ride="false" id="carouselExampleCaptions">
    <div class="carousel-indicators">
      <button aria-current="true" aria-label="Slide 1" class="active" data-bs-slide-to="0"
              data-bs-target="#carouselExampleCaptions" type="button"></button>
      <button aria-label="Slide 2" data-bs-slide-to="1" data-bs-target="#carouselExampleCaptions"
              type="button"></button>
      <button aria-label="Slide 3" data-bs-slide-to="2" data-bs-target="#carouselExampleCaptions"
              type="button"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img alt="Students around a table" class="d-block w-100" src="/assets/images/students.jpg">
        <div class="carousel-caption d-none d-md-block">
          <h5>Learn at Your Own Pace</h5>
          <p>Discover a new way of learning that adapts to your schedule and learning style. Progress step by step
            towards mastering your subject with our app.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img alt="Someone thinking" class="d-block w-100" src="/assets/images/ideas.jpg">
        <div class="carousel-caption d-none d-md-block">
          <h5>Illuminate Your Mind</h5>
          <p>Light up the darkest corners of your knowledge with interactive lessons that make learning fun and
            memorable.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img alt="Students cap toss" class="d-block w-100" src="/assets/images/graduate.jpg">
        <div class="carousel-caption d-none d-md-block">
          <h5>Celebrate Every Victory</h5>
          <p>Every small victory is one more step towards your success. Our app helps you track your progress and
            celebrate every milestone achieved.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" data-bs-slide="prev" data-bs-target="#carouselExampleCaptions" type="button">
      <span aria-hidden="true" class="carousel-control-prev-icon"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" data-bs-slide="next" data-bs-target="#carouselExampleCaptions" type="button">
      <span aria-hidden="true" class="carousel-control-next-icon"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!-- Features Section -->
  <div class="mt-4">
    <h2 class="display-3">Key Features</h2>
    <div class="row">
      <div class="col-md-4">
        <h4>Interactive Lessons</h4>
        <p>Engage with interactive lessons designed to make learning enjoyable and effective.</p>
      </div>
      <div class="col-md-4">
        <h4>Progress Tracking</h4>
        <p>Track your learning progress and achievements with our intuitive progress statistics.</p>
      </div>
      <div class="col-md-4">
        <h4>Celebrate Achievements</h4>
        <p>Celebrate every milestone in your learning journey. Every small victory counts!</p>
      </div>
    </div>
    <!-- Add more features as needed -->
  </div>


  <!-- Testimonials Section -->
  <div class="mt-4">
    <h2>What Users Say</h2>
    <div class="card-deck">
      <div class="card shadow">
        <div class="card-body">
          <p class="card-text fst-italic">"AnkiCloneApp transformed the way I approach learning. It's a game-changer! I can't believe how much more I enjoy my study sessions now."</p>
          <p class="text-muted text-end">- John Doe, Computer Science Student</p>

          <p class="card-text fst-italic">"I never thought learning could be this enjoyable. AnkiCloneApp made it possible! The variety of lessons and interactive content is simply amazing."</p>
          <p class="text-muted text-end">- Jane Smith, Art History Enthusiast</p>

          <p class="card-text fst-italic">"The interactive lessons are fantastic. AnkiCloneApp makes learning a breeze. The real-time feedback and engaging exercises keep me motivated."</p>
          <p class="text-muted text-end">- Alex Johnson, Language Learner</p>

        </div>
      </div>
    </div>
  </div>

  <!-- Get Started Section -->
  <div class="mt-4" *ngIf="!isLoggedIn">
    <h2>Get Started Today</h2>
    <p>Join thousands of learners who are mastering new subjects every day. Sign up now!</p>
    <a class="btn btn-primary bg-dark border border-dark" routerLink="/sign-up" role="button">Sign Up</a>
  </div>
</div>
